.c-layout-b{ 
    width:100%; height:100%;
    & footer.el-footer {
        background:  red;
    }
    & ul.el-menu-vertical-demo.el-menu {
        overflow:  hidden;
    }
    & .el-header{
       background: #336b9c !important
    }
}