:root{
    --gray:#545c64;
}
.c-layout-b{ 
    width:100%; height:100%;
    & h2.main-title {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 1.3em;
    color: #fff;
}
& .el-aside li>ul {
    overflow: hidden;
}
    &>section.el-container {
        & footer.el-footer {
            background:  #eee;
            position: relative;
            & >.footer-reserved{
                height: 30px;
                line-height: 30px;
                text-align: center;
                font-size: 13px;
            }
        }
        &>aside>ul.el-menu-vertical-demo.el-menu {
            border-right:  0;
        }
         & >.el-aside{
            background:var(--gray); 
        }
           
    }
    
    &>.el-header{
       background: var(--gray);
    }
    & .company-logo {
            height: 60px;
            line-height: 56px;
            color:#fff;
            & img{
                vertical-align: middle;
            }
    }
    & .top-item{
        text-align: right;
        &>ul{
            display: inline-block ;
        }
    }

}

.v-layout-basic-content{
    padding: 0;
    position: relative;
    &>div{
        height: 100%;
        position: absolute;
        width: 100%;
        padding: 10px;
    }
}
.el-card__header {
    border-bottom: 0;
     position: relative;
    z-index: 99;
}
.el-card.is-never-shadow {
    border-color: #f5f8fd;
    height: 100%;
}


.el-card__body {
    height: 100%;
    position: absolute;
    padding-top: 98px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    top: 0;
    left: 0;
    width: 100%;
}