:root{
    --gray:#545c64;
}
/****************************************************************    Begin 框架基础样式  ****************************************************************/

.c-layout-b{ 
    width:100%; height:100%;
    & h2.main-title {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 1.3em;
    color: #fff;
}

}
i.c-layout-l-ico{
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-radius: 50%;
    background: #666;
    color: #fff;
    cursor:pointer; 
}

 .c-layout-b-menu {

            border-right:  0;
            & i.el-submenu__icon-arrow.el-icon-arrow-down{/** 左侧页签向下的箭头的样式 **/
                    height: 20px;
                    line-height: 20px;
            }
        }
.c-layout-b-header,.c-layout-b-aside{/** 设置头部和左侧背景颜色 **/
       background: var(--gray);
}
.c-layout-b-aside{/** 左侧菜单样式 **/
   flex-shrink: 0 ;
   flex-grow: 0;
    & .el-main{
       padding : 0 ;
    }
    /* & .el-footer{
        padding:0
    } */
    & li>ul {/**  左侧ul清楚横向滚动条 **/
    overflow: hidden;
}
}
.c-layout-b-company-logo {/**   logo图标 **/
            height: 60px;
            line-height: 56px;
            color:#fff;
            & img{
                vertical-align: middle;
            }
    }
 .c-layout-b-top-item{/**  顶部账户和帮助 **/
        text-align: right;
        &>ul{
            display: inline-block ;
        }
}
.c-layout-b-footer { /** 底部footer的样式**/
            background:  #eee;
            position: relative;
            & >.footer-reserved{
                height: 30px;
                line-height: 30px;
                text-align: center;
                font-size: 13px;
            }
}
section.c-layout-b-container>main {
    flex-basis: 0;
    padding: 0;
}




/****************************************************************    框架基础样式 End  ****************************************************************/


