*{box-sizing: border-box;}
html,body{width:100%;height:100%;}

/****************************************************************   Begin  重置element-ui的默认样式 ****************************************************************/

span.el-range-separator {
    width: 7% !important;
}

/****************************************************************   重置element-ui的默认样式  End ****************************************************************/




/****************************************************************   Begin  数据表格查询按钮页面样式 ****************************************************************/


.v-p-n-con{
        height: 100%;
        position: absolute;
        width: 100%;
        &>section.el-container{
            height: 100%;
            &>.el-header{
                padding-top: 1em;
            }
        }
}



/****************************************************************  数据表格查询按钮页面样式    End****************************************************************/
